<div class="modal-sections-mask modal-sectors">
<div class="modal-sections-wrapper">
    <div class="modal-sections-block">


        <div class="modal-content">
              <div class="mobile-title">
                  <div class="button-close-container">
                      <span class="modal-close-icon close-sectors-sidebar"></span>
                  </div>
              </div>


            <div class="modal-content__img-container">
               <img src="/assets/images/example_sections.png" alt="">
            </div>
            <div class="modal-content__text-container">
                <h2>This is heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam quasi voluptas dolore soluta, nulla quis eos illum aliquid, dignissimos laudantium consequuntur quaerat provident cupiditate ipsum beatae itaque quibusdam deserunt!</p>
            </div>

        </div>
    </div>
</div>
</div>