<div class="calculator-outputs">
                    <div class="subtab-menu">
                      <div class="subtab-menu-charts">
                        <a href="#" class="show_emissions">CO2 emisijas</a>
                        <a href="#" class="show_supply">Enerģijas ieguve</a>
                        <a href="#" class="show_demand chart-selected">Enerģijas patēriņš</a>
                      </div>
                      <div class="charts-dropdown">
                          <div class="menu-item">
                              <a href="#" class="current-chart-title">
                              Enerģijas patēriņš
                              </a>
                              <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M13.1455 1.3413L7.14551 7.33887L1.14551 1.3413" stroke="#646569" stroke-width="2"/>
                              </svg>
                                  <div class="mobile-charts-sub-menu">
                                      <div class="menu-item">
                                          <a href="#" class="show_supply">Enerģijas ieguve</a>
                                      </div>
                                      <div class="menu-item">
                                          <a href="#" class="show_emissions">CO2 emisijas</a>
                                      </div>
                                      <div class="menu-item">
                                          <a href="#" class="show_demand chart-selected">Enerģijas patēriņš</a>
                                      </div>
                                  </div>
                          </div>
                      </div>
                      <div class="subtab-menu-share">
                        <button class="share_link">Dalīties</button>
                      </div>
                    </div>
                    <div class="output-charts-container">
                    <span class="gauge-tooltip">Tavs izvēlētais scenārijs ļautu samazināt CO2 emisijas 2060. gadā par <span class="gauge-percent"></span>% salīdzinot ar 1990. gada CO2 emisiju līmeni.</span>
                    <span class="gauge-tooltip-h">Tavs izvēlētais scenārijs ļautu samazināt CO2 emisijas 2060. gadā par <span class="gauge-percent"></span>% salīdzinot ar 1990. gada CO2 emisiju līmeni.</span>
                      <div id="overview" class="chart-container">
                        <div id='results'>
                              <div class="outer-wrapper gauge-vertical">
                                  <span class="gauge-info">
                                      <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                                          <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                                      </svg>
                                  </span>
                                  <span class="label label-begin">1990</span>
                                  <div class="column-wrapper">
                                      <div class="column column-vertical"></div>
                                      <span class="label-percent"></span>
                                  </div>
                                  <span class="label label-end">2060</span>
                                  <span class="gauge-title">CO2 emisiju līmeņrādis</span>
                              </div>
                              <div class="outer-wrapper gauge-horizontal">
                              <span class="gauge-info">
                                  <svg width="3" height="11" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.125 1.25175C2.125 1.52778 1.90114 1.75155 1.625 1.75155C1.34886 1.75155 1.125 1.52778 1.125 1.25175C1.125 0.97572 1.34886 0.751953 1.625 0.751953C1.90114 0.751953 2.125 0.97572 2.125 1.25175Z" fill="#49494D" stroke="#49494D"/>
                                      <path d="M1.625 10.7481V3.75098" stroke="#49494D" stroke-width="2"/>
                                  </svg>
                              </span>
                              <span class="label label-begin">1990</span>
                              <div class="column-wrapper">
                                  <div class="column column-horizontal"></div>
                                  <span class="label-percent"></span>
                              </div>
                              <span class="label label-end">2060</span>
                              <span class="gauge-title">CO2 emisiju līmeņrādis</span>
                          </div>
                        </div>

                      </div>

                  </div>
              </div>